@import "tailwindcss";
@theme {
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1900px;
}
/* text-[78px] lg:text-[120px] 2xl:text-[140px] 3xl:text-[160px] 4xl:text-[188px] lg:leading-[100px] 2xl:leading-[141px] */


 .main_about_heading{
     font-size: 110px;
    line-height: 90px;
  }
.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-charter {
  font-family: var(--font-charter), serif;
}
.font-degular{
  font-family: var(--font-degular), serif;
}
.mobile_menu_bg {
  background: url("/images/header/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top !important;
}
.vision_bg {
  background: url("/images/home/vision_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
.main_padding_left{
  padding-left: 152px;
}
.home_vision_section{
  background-image: url('/images/home/bg1.png'), url('/images/home/bg2.png');
   background-repeat: no-repeat, no-repeat;
  background-size: 54%, 54%;
  background-position: 100% 30%, 0% 122% !important;
}
.about_vision_section{
  background-image: url('/images/about/idea_bg1.png'), url('/images/about/idea_bg2.png');
   background-repeat: no-repeat, no-repeat;
  background-size: 24%, 35%;
  background-position: 0% 5%,  100% 100% !important;
}
.main_heading_letter_space{
  letter-spacing: -7px;
}
.editorial_bg{
   background: url("/images/article/editorial.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  
}
.belief_bg, .belief_bg_formate{
  background: url("/images/ventures/belief_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
  .main_anil_mathew_heading {
  font-size: 150px;
  line-height: 120px;
}


@media screen and (max-width: 1700px) {
  
  .main_anil_mathew_heading {
    font-size: 120px;
    line-height: 100px;
  }
  .main_padding_left{
  padding-left: 50px;
}
 .main_about_heading{
     font-size: 90px;
    line-height: 80px;
  }
}
@media screen and (max-width: 1400px) {
  .main_anil_mathew_heading {
    font-size: 110px;
    line-height: 90px;
  }
   .main_about_heading{
     font-size: 80px;
    line-height: 65px;
  }
}
@media screen and (max-width: 1250px) {
   .main_about_heading{
     font-size: 65px;
    line-height: 55px;
  }
}
@media screen and (max-width: 1200px) {
  .main_anil_mathew_heading {
    font-size: 85px;
    line-height: 67px;
  } 
}
@media screen and (max-width: 900px) {
  .main_anil_mathew_heading {
    font-size: 78px;
    line-height: 65px;
  }
  .main_about_heading{
     font-size: 48px;
    line-height: 40px;
  }
  .main_padding_left{
  padding-left: 16px;
}
.main_heading_letter_space{
  letter-spacing: -2px;
}
.belief_bg{
  background: url("/images/ventures/belief_bg_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
}
.belief_bg_formate{
  background: url("/images/speaking/speaking_bg_mobile.png");
  background-repeat: no-repeat;
  background-size: 402px;
  background-position: top !important;
}
.about_vision_section{
  background-image: url('/images/about/idea_bg_mob.png');
   background-repeat: no-repeat;
  background-size: 402px;
  background-position: 0% 0%!important;
}

}
@media screen and (min-width: 1800px) {
  .main_anil_mathew_heading {
  font-size: 188px;
  line-height: 141px;
}
.custom_text{
  left: 60%;
}
 .vision_section_padding{
  padding-left: 295px;
  padding-right: 295px;
 }
 .priciple_padding{
  padding-left: 160px;
  padding-right: 160px;
 }
 .about_main_section{
  width: 1030px;
 }
 .card_custom_width{
  width: 510px;
 }
 .venture_img{
  width: 1000px;
 }
 .venture_content{
  width: 590px;
 }
 .ventures_prev_main{
  padding-left: 222px;
  padding-right: 222px;
 }
 .para_custom_bottom{
  bottom: 50px !important;
  font-size: 20px !important;
  width: 935px;
 }
 .formate_img{
  width: 766px !important;
 }
 .main_about_heading{
     font-size: 130px;
    line-height: 110px;
  }
}
